
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model GoharSang.Models.vmModel.vmReportBargirt

<div class="container dailyCol">
    <div class="row dailyRow">
        <div class="col dailyLDiv">
            <a class="btn btn-primary dailyBtnTop" href="~/Home/Index" role="button">صفحه اصلی</a>
            <br>
            <label class="d-block dailyTitle">
                فیلتر های تاریخ رنجی | انبار | وضعیت
            </label>
            <div class="table-responsive-sm">
                <table class="table table-info table-striped dailyTable" id="tbldata">

                    <thead>
                        <tr>
                            <td>ردیف</td>
                            <td>نام خریدار</td>
                            <td>تاریخ بارگیری</td>
                            <td>انبار</td>
                            <td>تعداد کوپ ها</td>
                            @*<td>مشاهده کامل</td>*@
                            <td>وضعیت</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            long i = 0;
                        }
                        @foreach (var item in Model.list)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.CustomerFullName</td>
                                <td>@item.Uploaddate</td>
                                <td>@item.StoreName</td>
                                <td>@item.RecordEntryExitOrderCount</td>
                                @*<td>مشاهده</td>*@
                                <td>@item.stateName</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

   
            <button class="btn btn-primary dailyBtnBottom" onclick="window.print()">چاپ گزارش</button>
            <button class="btn btn-primary dailyBtnBottom2" onclick="location.href='@Url.Action("export", "ReportExitOrder")'">خروجی اکسل</button>
        </div>
    </div>
</div>






   