
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model GoharSang.Models.vmModel.vmReportBargirt






<div class="tab-wrapper clearfix">

    <ul class="nav nav-pills nav-icons pull-right">

        <li role="presentation"><a href="#" class="toggle-filter" data-block-id="filter-box"><i class="fa fa-filter"></i></a></li>
    </ul>
</div>

<div class="row filter-wrapper visible-box" id="filter-box">
    <div class="col-lg-12">

        <!-- Filter header -->
        <div class="filter-header">
            <button aria-label="Close" class="close toggle-filter" type="button" data-block-id="filter-box"><i class="icon-cancel"></i></button>
            <h3 class="title" style="text-align:right">جستجو</h3>
        </div>
        <form class="form-inline" method="post">

          

            <div class="form-group">
                <label class="form-label">وضعیت</label>
                <input type="text" placeholder="جستجو" name="stateName" class="form-control">
            </div>

            <div class="form-group">

                <div class="checkbox-group">
                    <div class="checkbox checkbox-replace checkbox-warning">

                        <label for="_CheckBoxDateInsert">تاریخ بارگیری</label>
                        <input type="text" placeholder="تاریخ بارگیری" class="form-control jalali-datepicker" name="Uploaddate">

                    </div>


                </div>
            </div>


            <div class="form-group filter-btn">
                <button class="btn btn-default">جستجو</button>
            </div>
        </form>

    </div>
</div>










<div class="container dailyCol">
    <div class="row dailyRow">
        <div class="col dailyLDiv">
            <a class="btn btn-primary dailyBtnTop" href="~/Home/Index" role="button">صفحه اصلی</a>
            <br>
            <label class="d-block dailyTitle">
                فیلتر های تاریخ رنجی | انبار | وضعیت
            </label>
            <div class="table-responsive-sm">
                <table class="table table-info table-striped dailyTable" id="tbldata">

                    <thead>
                        <tr>
                            <td>ردیف</td>
                            <td>نام خریدار</td>
                            <td>تاریخ بارگیری</td>
                            <td>انبار</td>
                            <td>تعداد کوپ ها</td>
                            @*<td>مشاهده کامل</td>*@
                            <td>وضعیت</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            long i = 0;
                        }
                        @foreach (var item in Model.list)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.CustomerFullName</td>
                                <td>@item.Uploaddate</td>
                                <td>@item.StoreName</td>
                                <td>@item.RecordEntryExitOrderCount</td>
                                @*<td>مشاهده</td>*@
                                <td>@item.stateName</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>


            <button class="btn btn-primary dailyBtnBottom" onclick="window.print()">چاپ گزارش</button>
            <button class="btn btn-primary dailyBtnBottom2" onclick="location.href='@Url.Action("export", "ReportExitOrder")'">خروجی اکسل</button>
        </div>
    </div>
</div>






