
@{
    ViewBag.Title = "کاربران";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model GoharSang.Models.vmModel.vmlistuser




<div class="container depotsContainer">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary homePageBtn" href="~/Home/Index" role="button">صفحه اصلی</a>
        </div>
    </div>
    <div class="row rtlDir margTop2">
        <div class="col-sm-6 divCol">
            <div class="userForm">
                <div class="form-group">
                    <label class="labelSignIn">نام کاربر</label>
                    <input type="text" class="form-control" id="FullName">
                </div>
                <div class="form-group">
                    <label class="labelSignIn">نام کاربری</label>
                    <input type="text" class="form-control" id="UserName">
                </div>
                <div class="form-group">
                    <label class="labelSignIn">ایمیل</label>
                    <input type="text" class="form-control" id="Email">
                </div>
                <div class="form-group">
                    <label class="labelSignIn txtLeft">کلمه عبور</label>
                    <input type="password" class="form-control" id="Password">
                </div>

                <label class="labelSignIn margTop2">سطوح دسترسی</label>


                <br />
                <div class="row">

                    @foreach (var item in Model.listrole)
                    {
                        <div class="col-sm-3">
                            <div class="checkbox checkbox-replace checkbox-primary">
                                <input type="checkbox" id="@item.Id" value="@item.Id">
                                <label for="@item.Id"> @item.Name</label>
                            </div>
                        </div>

                    }



                </div>
                <br />

                <div class="row">
                    <label class="control-label">انبار</label>
                    <select id="selectStore" class="select2-placeholer form-control"></select>

                    @*<select id="selectStore" class="form-control" style="padding:2px 8px;margin-bottom:10px"></select>*@

                </div>


                <div class="form-group userChDiv">
                    <button class="btn btn-primary saveButton" onclick="mgnUser()">ذخیره</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 divCo12">
            <label class="listLable">لیست کاربران</label>
            <table class="table table-info table-striped userTable width100">
                <thead class="thead-dark">
                    <tr>
                        <td>نام و نام خانوادگی</td>
                        <td>نام کاربری</td>
                        <td>عملیات</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.listUsers)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            <td>@item.UserName</td>
                            @if (item.StateAdmin == false)
                            {

                                <td><button class="btn btn-danger fa fa-trash" onclick="deleteUser(@item.Id)"></button>| <button class="btn btn-primary fa fa-pencil" onclick="EditUser(@item.Id)"></button></td>
                            }
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

@section localscript{


    <link href="~/js/Resource/css/entypo.css" rel="stylesheet">
    <link href="~/js/Resource/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/css3-animate-it-plugin/animations.css" rel="stylesheet">
    <link href="~/js/Resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/js/Resource/css/mouldifi-core.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/datepicker/bootstrap-datepicker.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/colorpicker/bootstrap-colorpicker.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/nouislider/nouislider.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/select2/select2.css" rel="stylesheet">
    <link href="~/js/Resource/css/mouldifi-forms.css" rel="stylesheet">
    <link href="~/js/Resource/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="~/js/Resource/css/mouldifi-rtl-core.css" rel="stylesheet">

    <link href="~/js/Resource/css/plugins/colorpicker/bootstrap-colorpicker.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/nouislider/nouislider.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/select2/select2.css" rel="stylesheet">
    <script src="~/js/Resource/js/jquery.min.js"></script>
    <script src="~/js/Resource/js/bootstrap.min.js"></script>
    <script src="~/js/Resource/js/plugins/select2/select2.full.min.js"></script>
    <script src="~/js/Resource/js/plugins/css3-animate-it-plugin/css3-animate-it.js"></script>
    <script src="~/js/Resource/js/bootstrap.min.js"></script>
    <script src="~/js/Resource/js/plugins/metismenu/jquery.metisMenu.js"></script>
    <script src="~/js/Resource/js/plugins/blockui-master/jquery-ui.js"></script>
    <script src="~/js/Resource/js/plugins/blockui-master/jquery.blockUI.js"></script>
    <script src="~/js/Resource/js/plugins/nouislider/nouislider.min.js"></script>
    <script src="~/js/Resource/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script src="~/js/Resource/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="~/js/Resource/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <link href="c~/js/Resource/ss/plugins/pdatepicker/css/daterangepicker.css" rel="stylesheet" />
    <link href="c~/js/Resource/ss/plugins/pdatepicker/css/datepicker-theme.css" rel="stylesheet" />
    <script src="~/js/Resource/css/plugins/pdatepicker/js/moment.min.js"></script>
    <script src="~/js/Resource/css/plugins/pdatepicker/js/moment-jalaali.js"></script>
    <script src="~/js/Resource/css/plugins/pdatepicker/js/daterangepicker-fa-ex.js"></script>

    <script>
        $(document).ready(function () {


            $(".select2").select2();
            $(".select2-placeholer").select2({
                allowClear: true
            });


        });


    </script>

    <script>
        $(document).keyup(function (event) {
            if (FullName.value != "" || UserName.value != "" || Email.value != "" || Password.value != "") {
                if (event.keyCode == 13) {
                    mgnUser();

                }
            }
        });
    </script>



    <script>
        window.onload = function () {

            $.ajax({
                url: '/RecordEntry/getStore',
                data: null,
                type: 'post',
                beforeSend: function () {
                    $(LoadingGift).show();
                },
                success: function (data) {

                    $(LoadingGift).hide();


                    var str = "<option value='0'>لطفا موردی را انتخاب نمایید</option>";


                    for (var i in data) {

                        str += "<option value=" + data[i].Id + ">" + data[i].Display + "</option>";
                    }
                    selectStore.innerHTML = str;


                }
            });


        }
    </script>



    <script>

        function mUSer(Id, UserName, Password, Email, FullName) {
            this.Id = Id;
            this.UserName = UserName;
            this.Password = Password;
            this.Email = Email;
            this.FullName = FullName;
        }

        var _muser = new mUSer(0, "", "", "", "");

    </script>

    <script>

        function mgnUser() {
            if (FullName.value == "" || UserName.value == "" || Email.value == "" || Password.value == "") {
                AlertInAjax("تمامی اطلاعات را وارد نمایید", modalAlertInAjax, "alert-danger");
                $(modalAlertInAjax).modal("show");

                return;
            }

            else {
                _muser.FullName = FullName.value;
                _muser.UserName = UserName.value;
                _muser.Email = Email.value;
                _muser.Password = Password.value;

                var idstore = selectStore.value;


                SelectedProp = {};
                ListProps = [];
                $(':checkbox:checked').each(function (i) {

                    var Id = $(this).val();

                    item = {};
                    item["Id"] = Id;

                    ListProps.push(item);
                });
                SelectedProp["ListProps"] = ListProps;

                $.ajax({
                    url: '/Users/mgnUser',
                    data: { user: _muser, prop: SelectedProp, idstore: idstore },
                    type: 'post',
                    beforeSend: function () {
                        $(LoadingGift).show();
                    },

                    success: function (data) {

                        $(LoadingGift).hide();


                        AlertInAjax("عملیات با موفقیت انجام شد", modalAlertInAjax, "alert-success");
                        $(modalAlertInAjax).modal("show");
                        setInterval(function () { $(modalAlertInAjax).modal("hide"); }, 2000);
                        $(modalAlertInAjax).on("hidden.bs.modal", function () {

                            location.href = "/Users/Index";
                        });
                    }
                });
            }
        }

    </script>


    <script>
        function deleteUser(id) {
            $(modaldeletedata).modal('show');
            $(btnConfirmDelete).click(function () {

                $.ajax({
                    url: '/Users/DeleteUser',
                    data: { id: id },
                    type: 'post',
                    beforeSend: function () {
                        $(LoadingGift).show();
                    },
                    success: function (data) {


                        $(LoadingGift).hide();
                        $(modaldeletedata).modal('hide');

                        AlertInAjax("عملیات با موفقیت انجام شد", modalAlertInAjax, "alert-success");
                        $(modalAlertInAjax).modal("show");
                        setInterval(function () { $(modalAlertInAjax).modal("hide"); }, 2000);
                        $(modalAlertInAjax).on("hidden.bs.modal", function () {
                            location.href = "/Users/Index";


                        });
                    }
                });
            });
        }


    </script>


    <script>

        function EditUser(id) {
            var form = document.createElement("form");
            var element1 = document.createElement("input");


            form.method = "Post";
            form.action = '/Users/EditUser';

            element1.value = id;
            element1.name = "id";
            element1.hidden = true;
            form.appendChild(element1);



            document.body.appendChild(form);

            form.submit();
        }

    </script>
}
