
@{
    ViewBag.Title = "گزارشات تفکیکی";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@model GoharSang.Models.vmModel.vmReportBargirt





<div class="tab-wrapper clearfix">

    <ul class="nav nav-pills nav-icons pull-right">

        <li role="presentation"><a href="#" class="toggle-filter" data-block-id="filter-box"><i class="fa fa-filter"></i></a></li>
    </ul>
</div>

<div class="row filter-wrapper visible-box" id="filter-box">
    <div class="col-lg-12">

        <!-- Filter header -->
        <div class="filter-header">
            <button aria-label="Close" class="close toggle-filter" type="button" data-block-id="filter-box"><i class="icon-cancel"></i></button>
            <h3 class="title" style="text-align:right">جستجو</h3>
        </div>
        <!-- /filter header -->
        <!-- Filter form -->
        <form class="form-inline" method="post">
            <div class="form-group">
                <label class="form-label" style="text-align:right">نوع کوپ</label>
                <input type="text" placeholder="جستجو" name="copname" class="form-control">
            </div>

            <div class="form-group">
                <label class="form-label" style="text-align:right;">تعداد</label>
                <input type="text" placeholder="جستجو" name="RecordEntryExitOrderCount" class="form-control">
            </div>




            <div class="form-group filter-btn">
                <button class="btn btn-default">جستجو</button>
            </div>
        </form>
        <!-- /filter form -->

    </div>
</div>


<div class="container dailyCol">
    <div class="row dailyRow">
        <div class="col dailyLDiv">
            <a class="btn btn-primary d-block dailyBtnTop" href="~/Home/Index" role="button">صفحه اصلی</a>
            <br>

            <div class="table-responsive-sm">
                <table class="table table-info table-striped dailyTable">

                    <thead>
                        <tr>
                            <td>ردیف</td>
                            <td>نوع کوپ</td>
                            <td>تعداد</td>
                            <td>انبار</td>
                            <td>معدن</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.list)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.copname</td>
                                <td>@item.RecordEntryExitOrderCount</td>
                                <td>@item.StoreName</td>
                                <td>@item.minename</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div style="float:right" id="pagination"></div>

            <button class="btn btn-primary btn-rounded" onclick="window.print()">چاپ گزارش</button>
            <button class="btn btn-primary btn-rounded" onclick="location.href='@Url.Action("export", "ReportdenotativeStore")'">خروجی اکسل</button>
        </div>
    </div>
</div>






@section localscript{
    <script>

        var dataPaging;

        var currentpage;

        dataPaging=@ViewBag.AllPage;


        currentpage =@ViewBag.PageNumber;

        var init = function () {
            Pagination.Init(document.getElementById('pagination'), {
                size: dataPaging, // pages size
                page: currentpage,  // selected page
                step: 3   // pages before and after current
            });

        };



        document.addEventListener('DOMContentLoaded', init, false);



    </script>
}
