
@{
    ViewBag.Title = "جزییات ثبت ورودی";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model GoharSang.Models.vmModel.vmReportBargirt



<div class="tab-wrapper clearfix">

    <ul class="nav nav-pills nav-icons pull-right">

        <li role="presentation"><a href="#" class="toggle-filter" data-block-id="filter-box"><i class="fa fa-filter"></i></a></li>
    </ul>
</div>

<div class="row filter-wrapper visible-box" id="filter-box">
    <div class="col-lg-12">

        <!-- Filter header -->
        <div class="filter-header">
            <button aria-label="Close" class="close toggle-filter" type="button" data-block-id="filter-box"><i class="icon-cancel"></i></button>
            <h3 class="title" >جستجو</h3>
        </div>
        <!-- /filter header -->
        <!-- Filter form -->
        <form method="get" action="/RecordEntry/SIndex">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label class="form-label" >معدن</label>
                        <input type="text" placeholder="جستجو"
                               value="@ViewBag.minename"
                               name="minename" class="form-control">
                    </div>

                    <div class="col-sm-3">
                        <label class="form-label" >نوع کوپ</label>
                        <input type="text" placeholder="جستجو"
                               value="@ViewBag.copname"
                               name="copname" class="form-control">
                    </div>

                    <div class="col-sm-3">
                        <label class="form-label" >وزن</label>
                        <input type="text" placeholder="جستجو"
                               value="@ViewBag.Weight"
                               name="Weight" class="form-control">
                    </div>

                    <div class="col-sm-3">
                        <label class="form-label" >انبار</label>
                        <input type="text" placeholder="جستجو" 
                               value="@ViewBag.StoreName"
                               name="StoreName" class="form-control">
                    </div>

                    <div class="col-sm-3">
                        <label class="form-label" >ابعاد</label>
                        <input type="text" placeholder="جستجو" 
                               value="@ViewBag.Dimensions"
                               name="Dimensions" class="form-control">
                    </div>


                    <div class="col-sm-3">
                        <label class="form-label" >کد کوپ</label>
                        <input type="text" placeholder="جستجو" 
                               value="@ViewBag.CopCode"
                               name="CopCode" class="form-control">
                    </div>


                    <div class="col-sm-3">
                        <label class="form-label" >شماره حواله</label>
                        <input type="text" placeholder="جستجو" 
                               value="@ViewBag.Transfernumber"
                               name="Transfernumber" class="form-control">
                    </div>


                    <div class="col-sm-3">


                        <label for="_CheckBoxDateInsert" >تاریخ ورود</label>
                        <input type="text" placeholder="تاریخ ورود" 
                               value="@ViewBag.Uploaddate"
                               class="form-control jalali-datepicker" name="Uploaddate">


                        <button class="btn btn-default">جستجو</button>



                    </div>
                </div>
            </div>
           



        </form>

    </div>
</div>



<div class="container dailyCol">
    <div class="row dailyRow">
        <div class="col dailyLDiv">
            <a class="btn btn-primary  btn-rounded" href="~/Home/Index" role="button">صفحه اصلی</a>
            <a class="btn btn-primary  btn-rounded" href="~/RecordEntry/RegisterPage" role="button">ثبت جدید</a>

            <br>

            <div class="table-responsive-sm">
                <table class="table table-info table-striped dailyTable">
                    <thead>

                        <tr>
                            <td>ردیف</td>
                            <td>معدن</td>
                            <td>نوع کوپ</td>
                            <td>انبار</td>
                            <td>وزن</td>
                            <td>ابعاد کوپ</td>
                            <td>کد کوپ</td>
                            <td>تصاویر</td>
                            <td>تاریخ ورود</td>
                            <td>شماره حواله</td>
                            <td>عملیات</td>
                        </tr>

                    </thead>

                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.list)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.minename</td>
                                <td>@item.copname</td>
                                <td>@item.StoreName</td>
                                <td>@item.Weight</td>
                                <td>@item.Dimensions</td>
                                <td>@item.CopCode</td>
                                <td><button class="btn btn-outline-primary" onclick="ShowPic(@item.Id)"> مشاهده </button></td>
                                <td>@item.Uploaddate</td>
                                <td>@item.Transfernumber</td>
                                <td><button class="btn btn-danger fa fa-trash" onclick="deletedata(@item.Id)"></button><button class="btn btn-primary fa fa-pencil" onclick="ediddata(@item.Id)"></button></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div id="pagination"></div>
        </div>
    </div>
</div>


@section localscript{


    <script>

        function deletedata(id) {
            $(modaldeletedata).modal('show');
            $(btnConfirmDelete).click(function () {

                $.ajax({
                    url: '/RecordEntry/deletedata',
                    data: { id: id },
                    type: 'post',
                    beforeSend: function () {
                        $(LoadingGift).show();
                    },

                    success: function (data) {


                        $(LoadingGift).hide();
                        $(modaldeletedata).modal('hide');
                        AlertInAjax("عملیات با موفقیت انجام شد", modalAlertInAjax, "alert-success");
                        $(modalAlertInAjax).modal("show");
                        setInterval(function () { $(modalAlertInAjax).modal("hide"); }, 2000);
                        $(modalAlertInAjax).on("hidden.bs.modal", function () {
                            location.href = "/RecordEntry/Index";

                        });
                    }
                });
            });
        }

    </script>



    <script>

        function ediddata(id) {
            var form = document.createElement("form");
            var element1 = document.createElement("input");


            form.method = "get";
            form.action = '/RecordEntry/ediddata';

            element1.value = id;
            element1.name = "id";
            element1.hidden = true;
            form.appendChild(element1);



            document.body.appendChild(form);

            form.submit();
        }

    </script>


    <script>

        var dataPaging;

        var currentpage;

        dataPaging=@ViewBag.AllPage;


        currentpage =@ViewBag.PageNumber;

        var init = function () {
            Pagination.Init(document.getElementById('pagination'), {
                size: dataPaging, // pages size
                page: currentpage,  // selected page
                step: 3   // pages before and after current
            });

        };



        document.addEventListener('DOMContentLoaded', init, false);



    </script>


    <script>

        function ShowPic(id) {
            $.ajax({
                url: '/ReportEntry/ShowPic',
                data: { id: id },
                type: 'post',
                beforeSend: function () {
                    $(LoadingGift).show();
                },

                success: function (data) {

                    $(LoadingGift).hide();

                    console.log(data);

                    var str = "";



                    for (var i in data) {

                        str += '<div class="col-sm-6">';
                        str += '<img class="img-responsive" src="../images/' + data[i] + '"/>';
                        str += '</div>';


                    }
                    BodyShowPic.innerHTML = str;
                    $(ModalShowPic).modal('show');
                }
            });
        }

    </script>
}