
@{
    ViewBag.Title = "گزارش خروج";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@model GoharSang.Models.vmModel.vmReportBargirt







<div class="tab-wrapper clearfix">

    <ul class="nav nav-pills nav-icons pull-right">

        <li role="presentation"><a href="#" class="toggle-filter" data-block-id="filter-box"><i class="fa fa-filter"></i></a></li>
    </ul>
</div>

<div class="row filter-wrapper visible-box" id="filter-box">
    <div class="col-lg-12">

        <!-- Filter header -->
        <div class="filter-header">
            <button aria-label="Close" class="close toggle-filter" type="button" data-block-id="filter-box"><i class="icon-cancel"></i></button>
            <h3 class="title" style="text-align:right">جستجو</h3>
        </div>
        <!-- /filter header -->
        <!-- Filter form -->
        <form class="form-inline" method="post">

            <div class="form-group">
                <label class="form-label" style="text-align:right">نام خریدار</label>
                <input type="text" placeholder="جستجو" name="CustomerFullName" class="form-control">
            </div>

            <div class="form-group">
                <label class="form-label" style="text-align:right">انبار</label>
                <input type="text" placeholder="جستجو" name="StoreName" class="form-control">
            </div>

            <div class="form-group">
                <label class="form-label" style="text-align:right">تعداد کوپ</label>
                <input type="text" placeholder="جستجو" name="RecordEntryExitOrderCount" class="form-control">
            </div>


            <div class="form-group">
                <label class="form-label" style="text-align:right">وضعیت</label>
                <input type="text" placeholder="جستجو" name="stateName" class="form-control">
            </div>





            <div class="form-group">
                <div class="checkbox-group">
                    <div class="checkbox checkbox-replace checkbox-warning">
                        <input type="checkbox" id="_CheckBoxDateInsert" name="checkboxDate">
                        <label for="_CheckBoxDateInsert" style="text-align:right;">تاریخ بارگیری</label>
                        <input type="text" placeholder="تاریخ بارگیری" class="form-control jalali-datepicker" name="Uploaddate">
                    </div>
                </div>

            </div>


            <div class="form-group filter-btn">
                <button class="btn btn-default">جستجو</button>
            </div>
        </form>

    </div>
</div>



<div class="container dailyCol">
    <div class="row dailyRow">
        <div class="col dailyLDiv">
            <a class="btn btn-primary d-block dailyBtnTop" href="~/Home/Index" role="button">صفحه اصلی</a>
            <br>

            <div class="table-responsive-sm">
                <table class="table table-info table-striped dailyTable">

                    <thead>
                        <tr>
                            <td>ردیف</td>
                            <td>نام خریدار</td>
                            <td>تاریخ بارگیری</td>
                            <td>انبار</td>
                            <td>کل کوپ</td>
                            <td>مانده</td>
                            @*<td>مشاهده کامل</td>*@
                            <td>وضعیت</td>
                            <td>راننده ها</td>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.list)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.CustomerFullName</td>
                                <td>@item.Uploaddate</td>
                                <td>@item.StoreName</td>
                                <td>@item.RecordEntryExitOrderCount</td>
                                <td>@item.copname</td>
                                @*<td>مشاهده</td>*@
                                <td>@item.stateName</td>
                                <td>@item.DriverName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="float:right" id="pagination"></div>

</div>





@section localscript{
    <script>

        var dataPaging;

        var currentpage;

        dataPaging=@ViewBag.AllPage;


        currentpage =@ViewBag.PageNumber;

        var init = function () {
            Pagination.Init(document.getElementById('pagination'), {
                size: dataPaging, // pages size
                page: currentpage,  // selected page
                step: 3   // pages before and after current
            });

        };



        document.addEventListener('DOMContentLoaded', init, false);



    </script>

    <script>
        function Print() {

            var divToPrint = document.getElementById('tablereport');
            var htmlToPrint = '' +
                '<style type="text/css">' +
                'table th, table td {' +
                'border:1px solid #000;' +
                'padding:0.5em;' +
                '}' +
                '</style>';
            htmlToPrint += divToPrint.outerHTML;
            newWin = window.open("");
            newWin.document.write(htmlToPrint);
            newWin.print();
            newWin.close();
        };
    </script>
}