
@{
    ViewBag.Title = "دستور خروج";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model IEnumerable<GoharSang.Models.vmModel.vmListRecordEntry>


<div class="container dailyCol">
    <div class="row dailyRow">
        <div class="col dailyLDiv">
            <a class="btn btn-primary d-block dailyBtnTop" href="~/Home/Index" role="button">صفحه اصلی</a>
            <br>
            <label class="buyerLable">مشخصات خریدار</label>
            <div class="entryForm">
                <div class="row margTop1">
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>خریدار</label>
                    </div>
                    <div class="col-sm-4 col-8">
                        <input type="text" class="form-control float-right" id="CustomerName">
                    </div>
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>تاریخ بارگیری</label>

                    </div>
                    <div class="col-sm-4 col-8">
                        <input type="text" class="form-control jalali-datepicker" id="dateLoad">
                    </div>




                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                            <label>انبار</label>
                            <select id="SelectStore" class="select2-placeholer form-control" style="padding:2px 8px"></select>

                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                            <label>کدکوپ</label>

                            <input class="form-control" id="InputeSearch" />

                        </div>

                    </div>
                </div>

                <div class="row margTop1">
                    <div class="col">
                        <button class="btn btn-primary btn-rounded" onclick="BtnExitOrder()">ذخیره</button>
                    </div>
                </div>







                <div class="row margTop1">
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>کد محصول</label>
                    </div>

                </div>
                <div class="row">


                    <div class="col-sm-12">

                        <div class="col-sm-4">

                        </div>

                        <div class="col-sm-8">
                            <table class="table-active" style="border:solid">
                                <thead>
                                    <tr>
                                        <td style="border:solid;text-align:center">انتخاب</td>
                                        <td style="border:solid;text-align:center">معدن</td>
                                        <td style="border:solid;text-align:center">نوع کوپ</td>
                                        <td style="border:solid;text-align:center">ابعاد</td>
                                        <td style="border:solid;text-align:center">وزن</td>
                                        <td style="border:solid;text-align:center">کد کوپ</td>
                                        <td style="border:solid;text-align:center">شماره حواله</td>

                                    </tr>
                                </thead>
                                <tbody id="BodyModel">

                                    @foreach (var item in Model)
                                    {

                                        <tr style="border:solid;text-align:center">
                                            <td style="border:solid;text-align:center">
                                                <div class="checkbox checkbox-replace checkbox-primary">
                                                    <input type="checkbox" id="@item.Id" value="@item.Id">
                                                    <label for="@item.Id" id="lblproduct"></label>
                                                </div>
                                            </td>
                                            <td style="border:solid;text-align:center">
                                                @item.minename
                                            </td>
                                            <td style="border:solid;text-align:center">
                                                @item.copname
                                            </td>

                                            <td style="border:solid;text-align:center">
                                                @item.Dimensions
                                            </td>

                                            <td style="border:solid;text-align:center">
                                                @item.Weight
                                            </td>

                                            <td style="border:solid;text-align:center">
                                                @item.CopsCod
                                            </td>
                                            <td style="border:solid;text-align:center">
                                                @item.Transfernumber
                                            </td>

                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>

                    </div>





                </div>



            </div>
        </div>
    </div>
</div>


@section localscript{
    <link href="~/js/Resource/css/entypo.css" rel="stylesheet">
    <link href="~/js/Resource/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/css3-animate-it-plugin/animations.css" rel="stylesheet">
    <link href="~/js/Resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/js/Resource/css/mouldifi-core.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/datepicker/bootstrap-datepicker.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/colorpicker/bootstrap-colorpicker.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/nouislider/nouislider.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/select2/select2.css" rel="stylesheet">
    <link href="~/js/Resource/css/mouldifi-forms.css" rel="stylesheet">
    <link href="~/js/Resource/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="~/js/Resource/css/mouldifi-rtl-core.css" rel="stylesheet">

    <link href="~/js/Resource/css/plugins/colorpicker/bootstrap-colorpicker.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/nouislider/nouislider.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/select2/select2.css" rel="stylesheet">
    <script src="~/js/Resource/js/jquery.min.js"></script>
    <script src="~/js/Resource/js/bootstrap.min.js"></script>
    <script src="~/js/Resource/js/plugins/select2/select2.full.min.js"></script>
    <script src="~/js/Resource/js/plugins/css3-animate-it-plugin/css3-animate-it.js"></script>
    <script src="~/js/Resource/js/bootstrap.min.js"></script>
    <script src="~/js/Resource/js/plugins/metismenu/jquery.metisMenu.js"></script>
    <script src="~/js/Resource/js/plugins/blockui-master/jquery-ui.js"></script>
    <script src="~/js/Resource/js/plugins/blockui-master/jquery.blockUI.js"></script>
    <script src="~/js/Resource/js/plugins/nouislider/nouislider.min.js"></script>
    <script src="~/js/Resource/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script src="~/js/Resource/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="~/js/Resource/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <link href="c~/js/Resource/ss/plugins/pdatepicker/css/daterangepicker.css" rel="stylesheet" />
    <link href="c~/js/Resource/ss/plugins/pdatepicker/css/datepicker-theme.css" rel="stylesheet" />
    <script src="~/js/Resource/css/plugins/pdatepicker/js/moment.min.js"></script>
    <script src="~/js/Resource/css/plugins/pdatepicker/js/moment-jalaali.js"></script>
    <script src="~/js/Resource/css/plugins/pdatepicker/js/daterangepicker-fa-ex.js"></script>

    <script>
        $(document).ready(function () {


            $(".select2").select2();
            $(".select2-placeholer").select2({
                allowClear: true
            });


        });


    </script>
    <script>
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                BtnExitOrder();

            }
        });
    </script>

    <script>
        window.onload = load();

        function load() {

            getStore();

        }


        function getStore() {
            $.ajax({
                url: '/RecordEntry/getStore',
                data: null,
                type: 'post',
                beforeSend: function () {
                    $(LoadingGift).show();
                },
                success: function (data) {

                    $(LoadingGift).hide();


                    var str = "<option value='0'>لطفا موردی را انتخاب نمایید</option>";


                    for (var i in data) {

                        str += "<option value=" + data[i].Id + ">" + data[i].Display + "</option>";
                    }
                    SelectStore.innerHTML = str;


                }
            });

        }


    </script>




    <script>
        function ExitOrder(Id, CustomerFullName, IdStore) {
            this.Id = Id;
            this.CustomerFullName = CustomerFullName;
            this.IdStore = IdStore;

        }
        var _ExitOrder = new ExitOrder(0, "", 0);
    </script>


    <script>
        var State = false;

        function BtnExitOrder() {


            if (CustomerName.value == "" || SelectStore.value == 0) {
                AlertInAjax("تمامی اطلاعات را وارد نمایید", modalAlertInAjax, "alert-danger");
                $(modalAlertInAjax).modal("show");

                return;
            }

            else {

                if (State == false) {
                    State = true;

                    _ExitOrder.CustomerFullName = CustomerName.value;
                    _ExitOrder.IdStore = SelectStore.value;

                    var DateLoad = dateLoad.value;

                    SelectedProp = {};
                    ListProps = [];
                    $(':checkbox:checked').each(function (i) {

                        var Id = $(this).val();

                        item = {};
                        item["Id"] = Id;

                        ListProps.push(item);
                    });
                    SelectedProp["ListProps"] = ListProps;

                    $.ajax({
                        url: '/ExitOrder/ExitOrder',
                        data: { exo: _ExitOrder, date: DateLoad, prop: SelectedProp },
                        type: 'post',
                        beforeSend: function () {
                            $(LoadingGift).show();
                        },

                        success: function (data) {
                            State = false;
                            $(LoadingGift).hide();


                            AlertInAjax("عملیات با موفقیت انجام شد", modalAlertInAjax, "alert-success");
                            $(modalAlertInAjax).modal("show");
                            setInterval(function () { $(modalAlertInAjax).modal("hide"); }, 2000);
                            $(modalAlertInAjax).on("hidden.bs.modal", function () {

                                location.href = "/ExitOrder/Index";
                            });
                        }
                    });
                }


            }


        }
    </script>


    <script>
        $(InputeSearch).keyup(function () {
            var value = $(this).val().toLowerCase();
            $("#BodyModel tr").filter(function () {

                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);

            });
        });
    </script>
}