
@{
    ViewBag.Title = "رزرو کوپ";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model IEnumerable<GoharSang.Models.vmModel.vmcopreserv>


<div class="container dailyCol">
    <div class="row dailyRow">
        <div class="col dailyLDiv">
            <a class="btn btn-primary dailyBtnTop" href="~/Home/Index" role="button">صفحه اصلی</a>
            <br>
            <label class="d-block dailyTitle">
                فیلتر های نام خریدار | تاریخ اتمام | انبار | تعداد کوپ
            </label>
            <div class="table-responsive-sm">
                <table class="table table-info table-striped dailyTable">
                    <thead>
                        <tr>
                            <td>ردیف</td>
                            <td>نام خریدار</td>
                            <td>تاریخ اتمام</td>
                            <td>انبار</td>
                            <td>رزرو شده </td>
                            <td>عملیات</td>
                            @*<td>مشاهده کامل</td>*@
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.CustomerFullName</td>
                                <td>@item.DateExpired</td>
                                <td>@item.StoreMame</td>
                                <td>@item.Reserved</td>
                                <td><button class="btn btn-danger fa fa-trash" onclick="DeleteCopeReserve(@item.Id)"></button>|<button class="btn btn-primary fa fa-pencil" onclick="LoadEdit(@item.Id)"></button> </td>

                            </tr>
                        }


                    </tbody>
                </table>
            </div>
            <a class="btn btn-primary btn-rounded" role="button" href="~/RegisterCopeReserve/Index">ثبت رزرو جدید</a>
        </div>
    </div>
</div>



@section localscript{


    <script>

        function LoadEdit(id) {
            var form = document.createElement("form");
            var element1 = document.createElement("input");


            form.method = "Post";
            form.action = '/CopeReserve/LoadEditCopsBooking';

            element1.value = id;
            element1.name = "id";
            element1.hidden = true;
            form.appendChild(element1);



            document.body.appendChild(form);

            form.submit();
        }

    </script>



    <script>
        function DeleteCopeReserve(id) {



            $(modaldeletedata).modal('show');
            $(btnConfirmDelete).click(function () {

                $.ajax({
                    url: '/CopeReserve/DeleteCopeReserve',
                    data: { id: id },
                    type: 'post',
                    beforeSend: function () {
                        $(LoadingGift).show();
                    },
                    success: function (data) {


                        $(LoadingGift).hide();
                        $(modaldeletedata).modal('hide');
                        AlertInAjax("عملیات با موفقیت انجام شد", modalAlertInAjax, "alert-success");
                        $(modalAlertInAjax).modal("show");
                       setInterval(function () { $(modalAlertInAjax).modal("hide"); }, 2000);
                        $(modalAlertInAjax).on("hidden.bs.modal", function () {
                            location.href = "/CopeReserve/Index";

                        });
                    }
                });
            });
        }


        function Editdata(id) {
            for (var i in ListData) {
                if (ListData[i].Id == id) {
                    Name.value = ListData[i].Name;
                    _mdata.Id = ListData[i].Id;
                }
            }
        }
    </script>
}