
@{
    ViewBag.Title = "ویرایش رزرو کوپ";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model GoharSang.Models.vmModel.vmEditCopReserv
<h1>@ViewBag.Title</h1>

<div class="container dailyCol">
    <div class="row dailyRow">
        <div class="col dailyLDiv">
            <a class="btn btn-primary d-block dailyBtnTop" href="~/Home/Index" role="button">صفحه اصلی</a>
            <br>
            <label class="buyerLable">مشخصات خریدار</label>
            <div class="entryForm">
                <div class="row margTop1">
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>خریدار</label>
                    </div>
                    <div class="col-sm-4 col-8">
                        <input type="text" class="form-control float-right" id="CustomerName" value="@Model.RecordEntryCopsBooking.CopsBooking.CustomerFullName">
                    </div>
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>انقضا رزرو</label>

                    </div>
                    <div class="col-sm-4 col-8">
                        <input type="text" class="form-control jalali-datepicker" id="dateLoad" value="@clsPersianDate.MiladiToShamsi(Model.RecordEntryCopsBooking.CopsBooking.DateExpired)">
                    </div>
                </div>
                <div class="row margTop1">
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>انبار</label>
                    </div>
                    <div class="col-sm-4 col-8">
                        <select id="SelectStore" class="form-control float-right width100" style="padding:2px 8px"></select>
                    </div>
                </div>
                <div class="row margTop1">
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>کد محصول</label>
                    </div>

                </div>
                <div class="row">
                    @foreach (var item in Model.ListRecordEntry)
                    {
                        if (item.Id == Model.RecordEntryCopsBooking.IdRecordEntry)
                        {
                            <div class="checkbox checkbox-replace checkbox-primary">
                                <input type="checkbox" id="@item.Id" value="@item.Id" checked>
                                <label for="@item.Id"> معدن= @item.minename نوع کوپ= @item.copname ابعاد= @item.Dimensions وزن= @item.Weight کد کوپ= @item.CopsCod تصویر= @item.image شماره حواله= @item.Transfernumber</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox checkbox-replace checkbox-primary">
                                <input type="checkbox" id="@item.Id" value="@item.Id">
                                <label for="@item.Id"> معدن= @item.minename نوع کوپ= @item.copname ابعاد= @item.Dimensions وزن= @item.Weight کد کوپ= @item.CopsCod تصویر= @item.image شماره حواله= @item.Transfernumber</label>
                            </div>
                        }

                    }

                </div>
                <div class="row margTop1">
                    <div class="col">
                        <button class="btn btn-primary float-left SaveBtn" onclick="BtnRegisterCopeReserve()">ذخیره</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section localscript{



    <script>
        window.onload = load();

        function load() {

            getStore();

        }


        function getStore() {
            $.ajax({
                url: '/RecordEntry/getStore',
                data: null,
                type: 'post',
                beforeSend: function () {
                    $(LoadingGift).show();
                },
                success: function (data) {

                    $(LoadingGift).hide();


                    var str = "<option value='0'>لطفا موردی را انتخاب نمایید</option>";


                    for (var i in data) {

                        str += "<option value=" + data[i].Id + ">" + data[i].Display + "</option>";
                    }
                    SelectStore.innerHTML = str;


                }
            });

        }


    </script>




    <script>
        function RegisterCopeReserve(Id, CustomerFullName, IdStore) {
            this.Id = Id;
            this.CustomerFullName = CustomerFullName;
            this.IdStore = IdStore;

        }
        var _RegisterCopeReserve = new RegisterCopeReserve(0, "", 0);
    </script>


    <script>
        function BtnRegisterCopeReserve() {


            if (CustomerName.value == "" || SelectStore.value == 0) {
                AlertInAjax("تمامی اطلاعات را وارد نمایید", modalAlertInAjax, "alert-danger");
                $(modalAlertInAjax).modal("show");

                return;
            }

            else {

                _RegisterCopeReserve.Id=@Model.RecordEntryCopsBooking.CopsBooking.Id;

                _RegisterCopeReserve.CustomerFullName = CustomerName.value;
                _RegisterCopeReserve.IdStore = SelectStore.value;

                var DateLoad = dateLoad.value;

                SelectedProp = {};
                ListProps = [];
                $(':checkbox:checked').each(function (i) {

                    var Id = $(this).val();

                    item = {};
                    item["Id"] = Id;

                    ListProps.push(item);
                });
                SelectedProp["ListProps"] = ListProps;

                $.ajax({
                    url: '/RegisterCopeReserve/RegisterCopeReserve',
                    data: { cb: _RegisterCopeReserve, date: DateLoad, prop: SelectedProp },
                    type: 'post',
                    beforeSend: function () {
                        $(LoadingGift).show();
                    },

                    success: function (data) {

                        $(LoadingGift).hide();


                        AlertInAjax("عملیات با موفقیت انجام شد", modalAlertInAjax, "alert-success");
                        $(modalAlertInAjax).modal("show");
                       setInterval(function () { $(modalAlertInAjax).modal("hide"); }, 2000);
                        $(modalAlertInAjax).on("hidden.bs.modal", function () {

                            location.href = "/RegisterCopeReserve/Index";
                        });
                    }
                });
            }


        }
    </script>

}

