
@{
    ViewBag.Title = "ویرایش رزرو کوپ";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model GoharSang.Models.vmModel.vmEditCopReserv

<div class="container dailyCol">
    <div class="row dailyRow">
        <div class="col dailyLDiv">
            <a class="btn btn-primary d-block dailyBtnTop" href="~/Home/Index" role="button">صفحه اصلی</a>
            <br>
            <label class="buyerLable">مشخصات خریدار</label>
            <div class="entryForm">
                <div class="row margTop1">
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>خریدار</label>
                    </div>
                    <div class="col-sm-4 col-8">
                        <input type="text" class="form-control float-right" id="CustomerName" value="@Model.RecordEntryCopsBooking.FirstOrDefault().CopsBooking.CustomerFullName">
                    </div>
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>انقضا رزرو</label>

                    </div>
                    <div class="col-sm-4 col-8">
                        <input type="text" class="form-control jalali-datepicker" id="dateLoad" value="@clsPersianDate.MiladiToShamsi(Model.RecordEntryCopsBooking.FirstOrDefault().CopsBooking.DateExpired)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                            <label style="text-align:right;float:right">انبار</label>
                            <select id="SelectStore" class="select2-placeholer form-control" data-placeholder="انتخاب" style="padding:2px 8px">

                                @foreach (var item in Model.ListStore)
                                {
                                    if (item.Id == Model.RecordEntryCopsBooking.FirstOrDefault().Record_the_entry.IdStore)
                                    {
                                        <option value="@item.Id">@item.Name</option>


                                    }
                                    else if (item.Id != Model.RecordEntryCopsBooking.FirstOrDefault().Record_the_entry.IdStore)
                                    {

                                        <option value="@item.Id">@item.Name</option>
                                    }

                                }
                            </select>

                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                            <label style="text-align:right;float:right">کدکوپ</label>

                            <input class="form-control" id="InputeSearch" />

                        </div>

                    </div>
                </div>
                <div class="row margTop1">
                    <div class="col">
                        <button class="btn btn-primary float-left SaveBtn" onclick="BtnRegisterCopeReserve()">ذخیره</button>
                    </div>
                </div>

                <div class="row margTop1">
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>کد محصول</label>
                    </div>

                </div>
                <div class="row">


                    <div class="col-sm-12">

                        <div class="col-sm-4">

                        </div>

                        <div class="col-sm-8">
                            <div class="table-responsive">
                                <table class="table table-info table-striped dailyTable" style="border:solid">
                                    <thead>
                                        <tr>
                                            <td style="border:solid;text-align:center;">انتخاب</td>
                                            <td style="border:solid;text-align:center">معدن</td>
                                            <td style="border:solid;text-align:center">نوع کوپ</td>
                                            <td style="border:solid;text-align:center">ابعاد</td>
                                            <td style="border:solid;text-align:center">وزن</td>
                                            <td style="border:solid;text-align:center">کد کوپ</td>
                                            <td style="border:solid;text-align:center">شماره حواله</td>
                                            <td style="border:solid;text-align:center">تصاویر</td>

                                        </tr>
                                    </thead>
                                    <tbody id="BodyModel">
                                        @foreach (var item in Model.ListRecordEntry)
                                        {
                                            if (Model.RecordEntryCopsBooking.Where(p => p.IdRecordEntry == item.Id).FirstOrDefault() != null)
                                            {
                                                <tr style="border:solid;text-align:center">
                                                    <td style="border:solid;text-align:center">
                                                        <div class="checkbox checkbox-replace checkbox-primary">
                                                            <input type="checkbox" class="CHechBox" id="@item.Id" value="@item.Id" checked>
                                                            <label for="@item.Id"></label>
                                                        </div>
                                                    </td>
                                                    <td style="border:solid;text-align:center">@item.minename</td>
                                                    <td style="border:solid;text-align:center">@item.copname</td>
                                                    <td style="border:solid;text-align:center">@item.Dimensions</td>
                                                    <td style="border:solid;text-align:center">@item.Weight</td>
                                                    <td style="border:solid;text-align:center">@item.CopsCod</td>
                                                    <td style="border:solid;text-align:center">@item.Transfernumber</td>
                                                    <td style="border:solid;text-align:center">
                                                        <button class="btn btn-outline-primary" onclick="ShowPic(@item.Id)"> مشاهده </button>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr style="border:solid;text-align:center">
                                                    <td style="border:solid;text-align:center">
                                                        <div class="checkbox checkbox-replace checkbox-primary">
                                                            <input type="checkbox" class="CHechBox" id="@item.Id" value="@item.Id">
                                                            <label for="@item.Id"></label>
                                                        </div>
                                                    </td>
                                                    <td style="border:solid;text-align:center">@item.minename</td>
                                                    <td style="border:solid;text-align:center">@item.copname</td>
                                                    <td style="border:solid;text-align:center">@item.Dimensions</td>
                                                    <td style="border:solid;text-align:center">@item.Weight</td>
                                                    <td style="border:solid;text-align:center">@item.CopsCod</td>
                                                    <td style="border:solid;text-align:center">@item.Transfernumber</td>
                                                    <td style="border:solid;text-align:center">
                                                        <button class="btn btn-outline-primary" onclick="ShowPic(@item.Id)"> مشاهده </button>
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>





                </div>

            </div>
        </div>
    </div>
</div>


@section localscript{

    <link href="~/js/Resource/css/plugins/select2/select2.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/select3/select3.css" rel="stylesheet" />

    <script src="~/js/Resource/js/plugins/select2/select2.full.min.js"></script>
    <script src="~/js/Resource/js/plugins/select3/select3.full.min.js"></script>

    <script>
        $(document).ready(function () {


            $(".select2").select2();
            $(".select2-placeholer").select2({
                allowClear: true
            });


        });


    </script>

  




    <script>
        function RegisterCopeReserve(Id, CustomerFullName, IdStore) {
            this.Id = Id;
            this.CustomerFullName = CustomerFullName;
            this.IdStore = IdStore;

        }
        var _RegisterCopeReserve = new RegisterCopeReserve(0, "", 0);
    </script>


    <script>
        function BtnRegisterCopeReserve() {


            if (CustomerName.value == "" || SelectStore.value == 0) {
                AlertInAjax("تمامی اطلاعات را وارد نمایید", modalAlertInAjax, "alert-danger");
                $(modalAlertInAjax).modal("show");

                return;
            }

            else {

                _RegisterCopeReserve.Id=@Model.RecordEntryCopsBooking.FirstOrDefault().CopsBooking.Id;

                _RegisterCopeReserve.CustomerFullName = CustomerName.value;
                _RegisterCopeReserve.IdStore = SelectStore.value;

                var DateLoad = dateLoad.value;

                SelectedProp = {};
                ListProps = [];
                $(':checkbox:checked').each(function (i) {

                    var Id = $(this).val();

                    item = {};
                    item["Id"] = Id;

                    ListProps.push(item);
                });
                SelectedProp["ListProps"] = ListProps;

                $.ajax({
                    url: '/RegisterCopeReserve/RegisterCopeReserve',
                    data: { cb: _RegisterCopeReserve, date: DateLoad, prop: SelectedProp },
                    type: 'post',
                    beforeSend: function () {
                        $(LoadingGift).show();
                    },

                    success: function (data) {

                        $(LoadingGift).hide();


                        AlertInAjax("عملیات با موفقیت انجام شد", modalAlertInAjax, "alert-success");
                        $(modalAlertInAjax).modal("show");
                       setInterval(function () { $(modalAlertInAjax).modal("hide"); }, 2000);
                        $(modalAlertInAjax).on("hidden.bs.modal", function () {

                            location.href = "/RegisterCopeReserve/Index";
                        });
                    }
                });
            }


        }
    </script>

    <script>
        $(InputeSearch).keyup(function () {
            var value = $(this).val().toLowerCase();
            $("#BodyModel tr").filter(function () {

                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);

            });
        });
    </script>

    <script>

        function ShowPic(id) {
            $.ajax({
                url: '/ReportEntry/ShowPic',
                data: { id: id },
                type: 'post',
                beforeSend: function () {
                    $(LoadingGift).show();
                },

                success: function (data) {

                    $(LoadingGift).hide();

                    console.log(data);

                    var str = "";



                    for (var i in data) {

                        str += '<div class="col-sm-6">';
                        str += '<img class="img-responsive" src="../images/' + data[i] + '"/>';
                        str += '</div>';


                    }
                    BodyShowPic.innerHTML = str;
                    $(ModalShowPic).modal('show');
                }
            });
        }

    </script>
}

