
@{
    Layout = null;
}
@using GoharSang.Models;
@{
    GoharSangEntities db = new GoharSangEntities();
    string UserIdcookie = "";
    string username = "";

    if (Request.Cookies.AllKeys.Contains("UserId"))
    {
        UserIdcookie = Request.Cookies["UserId"].Value;
        string _Id = UserIdcookie;
        long Id = Convert.ToInt16(CreatHash.Decrypt(_Id));
        Users admin = db.Users.FirstOrDefault(p => p.Id == Id);
        if (admin == null)
        {
            username = "";

        }
        else
        {
            username = admin.FullName;

        }
    }
    else
    {
            username = "";


    }


}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css"/>
    <link rel='shortcut icon' type='image/x-icon' href='~/images/headIcon.png' />

    <link href="~/js/Resource/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/js/Resource/css/mouldifi-forms.css" rel="stylesheet"/>

    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>

    <link href="~/js/Resource/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/js/Resource/css/mouldifi-core.css" rel="stylesheet"/>
    <link href="~/js/Resource/css/mouldifi-forms.css" rel="stylesheet"/>
    <link href="~/js/Resource/css/bootstrap-rtl.min.css" rel="stylesheet"/>
    <link href="~/js/Resource/css/mouldifi-rtl-core.css" rel="stylesheet"/>
    <link href="~/Script/Pagination/Pgination.css" rel="stylesheet" />

</head>
<body>
    @*<img src="~/Script/loading/ajax-loader.gif" id="LoadingGift" style="display:none;position:fixed;top:50%;left:50%" />*@
    <i class="fa fa-spinner fa-spin" id="LoadingGift" style="font-size:48px;color:blue;position:fixed;top:50%;left:50%;z-index:999999999999999;display:none"></i>


    <label class="control-label">کاربر : @username</label>
    <a class="fa fa-power-off" style="font-size:40px;" href="~/LogIn/Logout"></a>
    <br />
    <br />

    <h1 class="panel panel-primary text-center">@ViewBag.Title</h1>


    @RenderBody()


    <div class="modal fade" id="modalAlertInAjax" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">


    </div>
    <div class="modal fade" id="modaldeletedata" role="dialog">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header alert alert-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">آیا از انجام عملیات اطمینان دارید؟</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                    <button type="button" id="btnConfirmDelete" class="btn btn-success">تایید</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="ModalDetail" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">جزییات</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-info table-striped dailyTable">

                                <thead>


                                    <tr>
                                        <td>ردیف</td>
                                        <td>نام خریدار</td>
                                        <td>تاریخ بارگیری</td>
                                        <td>انبار</td>
                                        <td>وضعیت</td>
                                    </tr>
                                </thead>

                                <tbody id="bodyDetail">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="ModalShowPic" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">جزییات</h4>
                </div>
                <div class="modal-body" id="BodyShowPic">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                </div>
            </div>

        </div>
    </div>


    

    <script src="~/js/jquery-3.4.1.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Script/modalmessag/jsAlert.js"></script>
    <script src="~/Script/jsShowPic/jsShowPic.js"></script>
    @*<script src="~/js/Resource/css/animateColors.js"></script>*@





    <script src="~/js/Resource/js/jquery.min.js"></script>
    <script src="~/js/Resource/js/plugins/css3-animate-it-plugin/css3-animate-it.js"></script>
    <script src="~/js/Resource/js/bootstrap.min.js"></script>
    <script src="~/js/Resource/js/plugins/metismenu/jquery.metisMenu.js"></script>
    <script src="~/js/Resource/js/plugins/blockui-master/jquery-ui.js"></script>
    <script src="~/js/Resource/js/plugins/blockui-master/jquery.blockUI.js"></script>
    <script src="~/js/Resource/js/plugins/flot/jquery.flot.min.js"></script>
    <script src="~/js/Resource/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/js/Resource/js/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="~/js/Resource/js/plugins/flot/jquery.flot.selection.min.js"></script>
    <script src="~/js/Resource/js/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="~/js/Resource/js/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="~/js/Resource/js/functions.js"></script>




    <script src="~/js/Resource/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <link href="~~/js/Resource/css/plugins/pdatepicker/css/daterangepicker.css" rel="stylesheet" />

    <link href="~/js/Resource/css/plugins/pdatepicker/css/datepicker-theme.css" rel="stylesheet" />

    <script src="~/js/Resource/css/plugins/pdatepicker/js/moment.min.js"></script>
    <script src="~/js/Resource/css/plugins/pdatepicker/js/moment-jalaali.js"></script>
    <script src="~/js/Resource/css/plugins/pdatepicker/js/daterangepicker-fa-ex.js"></script>


    <script>
        $(document).ready(function () {


            $('.jalali-datepicker').daterangepicker({
                clearLabel: 'Clear',
                autoApply: true,
                opens: 'left',
                singleDatePicker: true,
                showDropdowns: true,
                jalaali: true,
                language: 'fa'
            }).on('apply.daterangepicker', function () {
                $('.tooltip').hide();
                $('.date-select').text($(this).val());
            });

            $(document).on('mouseover', '.daterangepicker .calendar td', function () {
                var gagDate = $(this).attr('data-original-title');
                $('.date-hover').text('');
                $('.date-hover').text(gagDate);

                $('[data-toggle="tooltip"]').tooltip()
            });
        });
    </script>



    <script src="~/Script/Pagination/pagination.js"></script>


    @RenderSection("localscript", false)
</body>
</html>
