
@{
    Layout = null;
}
@using GoharSang.Models;
@{
    GoharSangEntities db = new GoharSangEntities();
    string UserIdcookie = "";
    string username = "";

    if (Request.Cookies.AllKeys.Contains("UserId"))
    {
        UserIdcookie = Request.Cookies["UserId"].Value;
        string _Id = UserIdcookie;
        long Id = Convert.ToInt16(CreatHash.Decrypt(_Id));
        Users admin = db.Users.FirstOrDefault(p => p.Id == Id);
        if (admin == null)
        {
            username = "";

        }
        else
        {
            username = admin.FullName;

        }
    }
    else
    {
            username = "";


    }


}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">

    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <link href="~/Script/Pagination/Pgination.css" rel="stylesheet" />
    <link href="~/js/Resource/css/font-awesome.min.css" rel="stylesheet" />
    <meta charset="UTF-8">





    <link rel="stylesheet" href="~/css/kamadatepicker.css">





    <title>@ViewBag.Title</title>
   

</head>
<body>

    <i class="fa fa-spinner fa-spin" id="LoadingGift" style="font-size:48px;color:blue;position:fixed;top:50%;left:50%;z-index:999999999999999;display:none"></i>


    <label class="control-label">کاربر : @username</label>
    <a class="fa fa-power-off" style="font-size:40px;" href="~/LogIn/Logout"></a>
    <br />
    <br />

    <h1 class="panel panel-primary text-center">@ViewBag.Title</h1>


    @RenderBody()


    <div class="modal fade" id="modalAlertInAjax" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">


    </div>
    <div class="modal fade" id="modaldeletedata" role="dialog">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header alert alert-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">آیا از انجام عملیات اطمینان دارید؟</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                    <button type="button" id="btnConfirmDelete" class="btn btn-success">تایید</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="ModalDetail" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">جزییات</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-info table-striped dailyTable">

                                <thead>


                                    <tr>
                                        <td>ردیف</td>
                                        <td>نام خریدار</td>
                                        <td>تاریخ بارگیری</td>
                                        <td>انبار</td>
                                        <td>وضعیت</td>
                                    </tr>
                                </thead>

                                <tbody id="bodyDetail">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="ModalShowPic" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">جزییات</h4>
                </div>
                <div class="modal-body" id="BodyShowPic">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="modalSelectCop" role="dialog">
        <div class="modal-dialog modal-lg">


            <div class="modal-content">
                <div class="row">
                    <div class="col-sm-12">
                        
                        <div class="table-responsive-sm">
                        <i class="fa fa-search" style="margin-left:5px;"> <input class="form-control" id="InputeSearch" placeholder="جستجو"/></i>
                            <table class="table table-info table-striped portableTable">
                                <thead>
                                    <tr>
                                        <td>ردیف</td>
                                        <td>معدن</td>
                                        <td>نوع کوپ</td>
                                        <td>ابعاد</td>
                                        <td>وزن</td>
                                        <td>کد کوپ</td>
                                        <td>تصاویر</td>
                                        <td>شماره حواله</td>
                                        <td>انتخاب</td>
                                    </tr>
                                </thead>
                                <tbody id="listdataModalCop">
                                </tbody>
                            </table>
                            <button class="btn btn-primary SaveBtn" onclick="AddtoUlData()">افزودن</button>
                        </div>

                    </div>
                </div>





            </div>

        </div>
    </div>



    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-rtl.min.js"></script>
    <script src="~/Script/modalmessag/jsAlert.js"></script>
    <script src="~/Script/jsShowPic/jsShowPic.js"></script>





    <script src="~/js/kamadatepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            kamaDatepicker('jalali-datepicker', {
                buttonsColor: 'red',
                forceFarsiDigits: true,
                markToday: true,
                gotoToday: true,
                markToday: true,
                highlightSelectedDay: true
            });
        });
    </script>



    <script src="~/Script/Pagination/pagination.js"></script>


    <script>
        $(InputeSearch).keyup(function () {
            var value = $(this).val().toLowerCase();
            $("#listdataModalCop tr").filter(function () {

                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);

            });
        });
    </script>

    @RenderSection("localscript", false)
</body>
</html>
